*{
    font-size:32px;
    font-weight: bolder;
}

#gallery {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-frame {
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(26% - 20px); 
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}
/* */
.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    transition: transform 0.3s ease-in-out;
}
.image-frame:hover img{
    transform: scale(1.2);
}
#gallery-header{
    display:flex;
    font-size: larger;
    flex-direction: column;
    padding:20px 50px 20px 100px;
    background-color: blanchedalmond;
    margin-bottom: 10px;;
}
@media screen and (max-width: 1200px) {
    *{
        font-size:28px;
        font-weight: bolder;
    }
    #gallery-header{
        padding:20px 50px 20px 90px;
    }
    .image-frame {
        flex: 1 1 calc(33.33% - 20px); /* 3 columns */
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 800px) {
    *{
        font-size:22px;
        font-weight: bolder;
    }
    #gallery-header{
        padding:20px 50px 20px 70px;
    }
    .image-frame {
        flex: 1 1 calc(50% - 20px); /* 2 columns */
        max-width: calc(50% - 20px);
    }
}
@media screen and (max-width: 600px) {
    *{
        font-size:18px;
        font-weight: bolder;
    }
    #gallery-header{
        padding:20px 50px 20px 50px;
    }
    .image-frame {
        flex: 1 1 calc(50% - 20px); /* 1 column */
        max-width: calc(50% - 20px);
    }
}