<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo-gallery</title>
    <link href="../css/photogallery.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../javascript/photogallery.js"></script>
</head>
<body>
    <header>
        <div id="gallery-header">
            <span>
                Image
            </span>
            <span>
                Gallery
            </span>
        </div>
    </header>
    <div id="gallery">
        <div class="image-frame">
            <img src="../assests/img-1.jpg" >
            <figcaption style="display: none;">Image 1</figcaption>
        </div>   
        <div class="image-frame">
            <img src="../assests/img2.jpg">
            <figcaption style="display: none;">Image 2</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img3.jpg">
            <figcaption style="display: none;">Image 3</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img4.jpg">
            <figcaption style="display: none;">Image 4</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img5.jpg">
            <figcaption style="display: none;">Image 5</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img6.jpg">
            <figcaption style="display: none;">Image 6</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img7.jpg">
            <figcaption style="display: none;">Image 7</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img8.jpg">
            <figcaption style="display: none;">Image 8</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img9.jpg">
            <figcaption style="display: none;">Image 9</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img10.jpg">
            <figcaption style="display: none;">Image 10</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img11.jpg">
            <figcaption style="display: none;">Image 11</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img12.jpg">
            <figcaption style="display: none;">Image 12</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img13.jpg">
            <figcaption style="display: none;">Image 13</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img14.jpg">
            <figcaption style="display: none;">Image 14</figcaption>
        </div>
        <div class="image-frame">
            <img src="../assests/img15.jpg">
            <figcaption style="display: none;">Image 15</figcaption>
        </div> 
        <div class="image-frame">
            <img src="../assests/img16.jpg">
            <figcaption style="display: none;">Image 16</figcaption>
        </div> 
    </div>
</body>
<script src="../javascript/photogallery.js"></script>
</html>